<div class="ui-menu" id="menu" onclick="openNav()">
  <span class="ui-menu__content">
    <i class="ui-menu__line ui-menu__line_1"></i>
    <i class="ui-menu__line ui-menu__line_2"></i>
    <i class="ui-menu__line ui-menu__line_3"></i>
  </span>
</div>

<nav class="menu">
  <ul class="menu__primary">
    <li class="menu__primary__item"><%= link_to "Home", root_path %></li>
    <li class="menu__primary__item"><%= link_to "Work", "work" %></li>
    <li class="menu__primary__item"><%= link_to "Services", "services" %></li>
    <li class="menu__primary__item"><%= link_to "Contact", "contact" %></li>
  </ul>
   <ul class="menu__secondary">
    <li class="menu__secondary__item"><a href="https://www.linkedin.com/in/lucasraert">Linkedin</a></li>
    <li class="menu__secondary__item"><a href="https://www.twitter.com/lucasraert">Twitter</a></li>
    <li class="menu__secondary__item"><a href="https://www.github.com/lucasraert">Github</a></li>
    <li class="menu__secondary__item"><a href="https://www.instagram.com/lucasraert">Instagram</a></li>
  </ul>
</nav>

<div class="navbar">
  <div class="navbar-links">
    <%= link_to "HOME", root_path, class: "navbar-item" %>
    <%= link_to "WORK", "work", class: "navbar-item" %>
    <%= link_to "SERVICES", "services", class: "navbar-item" %>
    <%= link_to "CONTACT", "contact", class: "navbar-item" %>
  </div>
</div>
